.issues-list-loading {
    background: url("/images/loading.gif") no-repeat scroll center center transparent;
    background-color: #efefef;
    height: 100%;
}

.hide-before-init {
    display: none;
}

.initialized.initialized {
	display: block;
}

.rate-limits {
	color: red;
	margin: auto;
}